<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class="row padding mx-2">
  	<div class="col-md-4 pb-2">
  		<div class="card">
  			<img class="card-img-top" src="img/team1.png">
  			<div class="card-body">
  				<h4 class="card-title">John Doe</h4>
  				<p class="card-text">John is an Internet entrepreneur with
  				almost 20 years of experience.</p>
  				<a href="#" class="btn btn-outline-secondary">See Profile</a>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-4 pb-2">
  		<div class="card">
  			<img class="card-img-top" src="img/team2.png">
  			<div class="card-body">
  				<h4 class="card-title">Mary Jo</h4>
  				<p class="card-text">Mary is a designer with almost 10 years of
  				digital experience.</p>
  				<a href="#" class="btn btn-outline-secondary">See Profile</a>
  			</div>
  		</div>
  	</div>
  	<div class="col-md-4 pb-2">
  		<div class="card">
  			<img class="card-img-top" src="img/team3.png">
  			<div class="card-body">
  				<h4 class="card-title">Phil Ho</h4>
  				<p class="card-text">Phil is a developer with over 5 years of
  				web development experience.</p>
  				<a href="#" class="btn btn-outline-secondary">See Profile</a>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<footer>
  <hr>
  <div class="row text-center">
  	<div class="col-12">
  		<h2>Connect with us</h2>
  	</div>
  	<div class="col-12">
  	  <a href="https://www.facebook.com"><%= fa_stacked_icon "facebook-square", base: "square-o", class: "fa-2x" %></a>
  	  <a href="https://www.twitter.com"><%= fa_stacked_icon "twitter-square", base: "square-o", class: "fa-2x" %></a>
  	  <a href="https://www.instagram.com"><%= fa_stacked_icon "instagram", base: "square-o", class: "fa-2x" %></a>
  	</div>
  </div>

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
  </div>
  <!--/Copyright-->

</footer>
<!--/Footer-->